.main-home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.column {
  height: 75vh;
  width: 32%;
  margin: 5px 0px;
}

.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
  padding: 0px 25px;
  border-radius: 23px;
  height: 100%;
}

.intro-block {
  display: flex;
  align-items: center;
}

.intro img {
  width: 150px;
  border-radius: 50%;
}

.intro h3,
.intro p {
  text-align: center;
  color: white;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social a {
  font-size: 1.4rem;
  color: white;
  margin: 0px 15px;
}

.Projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-color);
  padding: 0px 25px;
  border-radius: 23px;
  color: white;
}

.projectstop {
  height: 10%;
}

.projectsbottom {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


@media (max-width: 768px) {
  .main-home {
    flex-direction: column;
    align-items: center;
  }

  .column {
    flex-grow: unset;
    width: 98%;
    margin: 10px auto;
  }

  .intro {
    padding: 0px 10px;
    border-radius: 23px;
    height: 70vh;
  }

  .intro-block {
    flex-direction: column;
  }

  .intro-block h3 {
    margin-top: 6px;
  }

  .intro img {
    width: 160px;
    border-radius: 50%;
  }

  .intro p {
    font-size: 0.8rem;
  }
}