footer {
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
}

@media screen and (max-width: 786px) {
    footer{
        height: 6vh;
    }
}